PORT=3000
NODE_ENV=development
DATABASE_URL="mysql://username:password@localhost:3306/portfolio_db"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB=0

PASETO_SECRET_KEY="k4.secret.YOUR_SECRET_KEY_HERE"
PASETO_PUBLIC_KEY="k4.public.YOUR_PUBLIC_KEY_HERE"

ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_DAYS=7
CORS_ORIGIN="http://localhost:5173"
